body {
    background-color: #FFFFFF;
    color: #333333;
    font-family: Verdana, Arial, sans-serif;
}

header {
    background-color: #404074;
    color: #FFFFFF;
    margin: 0;
}

nav a {
    text-decoration: none;
    color: #000066;
    font-weight: bold;
}

nav a:hover {
    color: #FFFFFF;
}

h1 {
    margin: 0;
    padding: 1em;
    font-size: 1.4em;
}

h2 {
    color: #000066;
}

#contact {
    margin-top: 2em;
}

dt {
    color: #000066;
    font-weight: bold;
}
